# Concatenar DataFrames con pandas

Cargar el archivo `mompean.csv` en un DataFrame llamado `mompean`. Indicar que la columna `FechaHora` es de tipo `Datetime` y usarla como `index` del DataFrame.

In [3]:
# Completar aquí
import pandas as pd
import numpy as np
from pathlib import Path

DATA_FOLDER = Path("..") / ".." / ".." / "data"
mompean = pd.read_csv(
    DATA_FOLDER / "mompean.csv",
    index_col=0,
    parse_dates=True,
    usecols="FechaHora,NO,NO2,SO2,O3,NOX,PM10,Ruido".split(","),
)


# --------------------
mompean

                       NO   NO2   SO2    O3    NOX  PM10  Ruido
FechaHora
2010-01-01 00:00:00   4.0   7.0  17.0   NaN   14.0   5.0   56.0
2010-01-01 01:00:00   6.0  12.0  18.0   NaN   21.0  15.0   58.0
2010-01-01 02:00:00   6.0  17.0  17.0   NaN   26.0  12.0   60.0
2010-01-01 03:00:00   5.0  10.0  18.0   NaN   18.0   2.0   57.0
2010-01-01 04:00:00   4.0   8.0  19.0   NaN   14.0   5.0   55.0
...                   ...   ...   ...   ...    ...   ...    ...
2019-12-31 19:00:00   9.0  35.0   8.0  47.0   49.0  19.0    NaN
2019-12-31 20:00:00  29.0  59.0   9.0  24.0  102.0  41.0    NaN
2019-12-31 21:00:00  59.0  65.0   8.0  10.0  155.0  48.0    NaN
2019-12-31 22:00:00  51.0  51.0   9.0  11.0  130.0  45.0    NaN
2019-12-31 23:00:00  32.0  42.0   9.0   7.0   90.0  44.0    NaN

[96408 rows x 7 columns]

Añadir a `mompean` dos columnas que contengan el día de la semana y la hora correspondiente a cada medición. Para ello, podréis usar las dos propiedades `dayofweek` y `hour` que se pueden aplicar a un `Datetimeindex`.

In [7]:
# Completar aquí
day_of_week = mompean.index.dayofweek
hour = mompean.index.hour
mompean_aggregated = pd.concat(
    [
        mompean,
        pd.DataFrame(
            {"dia": day_of_week, "hora": hour, "dia_semana": day_of_week},
            index=mompean.index,
        ),
    ],
    axis=1,
)


# --------------------
mompean_aggregated

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia,hora,dia_semana
FechaHora,,,,,,,,,,
2010-01-01 00:00:00,4.0,7.0,17.0,NaN,14.0,5.0,56.0,4,0,4
2010-01-01 01:00:00,6.0,12.0,18.0,NaN,21.0,15.0,58.0,4,1,4
2010-01-01 02:00:00,6.0,17.0,17.0,NaN,26.0,12.0,60.0,4,2,4
2010-01-01 03:00:00,5.0,10.0,18.0,NaN,18.0,2.0,57.0,4,3,4
2010-01-01 04:00:00,4.0,8.0,19.0,NaN,14.0,5.0,55.0,4,4,4
...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,9.0,35.0,8.0,47.0,49.0,19.0,NaN,1,19,1
2019-12-31 20:00:00,29.0,59.0,9.0,24.0,102.0,41.0,NaN,1,20,1
2019-12-31 21:00:00,59.0,65.0,8.0,10.0,155.0,48.0,NaN,1,21,1
2019-12-31 22:00:00,51.0,51.0,9.0,11.0,130.0,45.0,NaN,1,22,1
2019-12-31 23:00:00,32.0,42.0,9.0,7.0,90.0,44.0,NaN,1,23,1

Seleccionar los valores correspondientes a Domingo a las 12 de la mañana en un dataframe y calcular las medias de sus columnas

In [20]:
# Completar aquí
filtered_sunday_12_pm = mompean_aggregated[
    (mompean_aggregated["dia_semana"] == 6) & (mompean_aggregated["hora"] == 12)
]
# --------------------
filtered_sunday_12_pm.mean()

NO             6.971319
NO2           17.288719
SO2            7.856874
O3            70.305556
NOX           27.862333
PM10          22.290566
Ruido         60.154696
dia            6.000000
hora          12.000000
dia_semana     6.000000
dtype: float64

Qué tipo de objeto es el resultado? Transformadlo en un DataFrame de una fila y 10 columnas.

In [36]:
# Completar aquí
dataFramed = pd.DataFrame(
    filtered_sunday_12_pm.mean().values.reshape(1, -1),
    columns=filtered_sunday_12_pm.columns,
)
# --------------------

dataFramed

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia,hora,dia_semana
0,6.971319,17.288719,7.856874,70.305556,27.862333,22.290566,60.154696,6.0,12.0,6.0

Escribid un bucle que calcule para cada hora y día de la semana, el valor promedio de los distintos niveles de los indicadores de calidad del aire de `mompean` y que los vaya uniendo en un DataFrame

In [58]:
# Completar aquí
series = mompean_aggregated.copy()
final_df = pd.DataFrame([], columns=series.columns)

for dia in range(min(series["dia_semana"]), max(series["dia_semana"]) + 1):
    for hora in range(min(series["hora"]), max(series["hora"]) + 1):
        final_df = pd.concat(
            [
                final_df,
                pd.DataFrame(
                    series[(series["dia_semana"] == dia) & (series["hora"] == hora)]
                    .mean()
                    .values.reshape(1, -1),
                    columns=series.columns,
                ),
            ]
        )

# --------------------
final_df

C:\Users\anton\AppData\Local\Temp\ipykernel_23716\127672605.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat(

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia,hora,dia_semana
0,7.562380,25.581574,7.512287,55.924303,37.084453,22.472486,57.027624,0.0,0.0,0.0
0,6.180077,23.312261,7.435606,53.521912,32.668582,20.853890,55.419890,0.0,1.0,0.0
0,5.517241,21.136015,7.361742,51.169323,29.501916,20.206831,53.508287,0.0,2.0,0.0
0,4.126437,17.105364,7.229167,50.878486,23.373563,18.842505,52.569061,0.0,3.0,0.0
0,3.624521,14.111111,7.143939,50.537849,19.616858,17.838710,51.806630,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
0,5.676245,18.860153,8.581132,77.117296,27.421456,22.644612,60.044199,6.0,19.0,6.0
0,6.545977,20.641762,8.330189,73.753479,30.588123,22.718336,60.364641,6.0,20.0,6.0
0,7.767754,23.921305,7.835539,68.711155,35.700576,23.905303,60.569061,6.0,21.0,6.0
0,8.694818,26.278311,7.667297,63.896414,39.462572,23.990512,59.972376,6.0,22.0,6.0
0,9.168906,27.220729,7.655955,59.272908,41.084453,23.339658,58.375691,6.0,23.0,6.0

El realizar un bucle que lleva a cabo un `concat` en cada iteración tal como se ha hecho anteriormente no es recomendable porque `concat` crea cada vez una copia nueva del DataFrame lo que no es nada óptimo en cuanto a rendimiento. Es mejor construir un iterable con todos los DataFrames, y luego usar `concat` solo una vez sobre el iterable.

Usando una "list comprehension", construir una lista que contenga todos los DataFrame relevantes del apartado anterior (medias para cada hora y día de la semana). A continuación concatenarlos para obtener el DataFrame del apartado anterior

In [57]:
# Completar aquí
all_series = [
    pd.DataFrame(
        series[(series["dia_semana"] == dia) & (series["hora"] == hora)]
        .mean()
        .values.reshape(1, -1),
        columns=series.columns,
    )
    for dia in range(min(series["dia_semana"]), max(series["dia_semana"]) + 1)
    for hora in range(min(series["hora"]), max(series["hora"]) + 1)
]
complete_series = pd.concat(all_series)
# --------------------
complete_series

,NO,NO2,SO2,O3,NOX,PM10,Ruido,dia,hora,dia_semana
0,7.562380,25.581574,7.512287,55.924303,37.084453,22.472486,57.027624,0.0,0.0,0.0
0,6.180077,23.312261,7.435606,53.521912,32.668582,20.853890,55.419890,0.0,1.0,0.0
0,5.517241,21.136015,7.361742,51.169323,29.501916,20.206831,53.508287,0.0,2.0,0.0
0,4.126437,17.105364,7.229167,50.878486,23.373563,18.842505,52.569061,0.0,3.0,0.0
0,3.624521,14.111111,7.143939,50.537849,19.616858,17.838710,51.806630,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
0,5.676245,18.860153,8.581132,77.117296,27.421456,22.644612,60.044199,6.0,19.0,6.0
0,6.545977,20.641762,8.330189,73.753479,30.588123,22.718336,60.364641,6.0,20.0,6.0
0,7.767754,23.921305,7.835539,68.711155,35.700576,23.905303,60.569061,6.0,21.0,6.0
0,8.694818,26.278311,7.667297,63.896414,39.462572,23.990512,59.972376,6.0,22.0,6.0
0,9.168906,27.220729,7.655955,59.272908,41.084453,23.339658,58.375691,6.0,23.0,6.0